<%- include("../partials/head.ejs",{title:'Registro'})  %> 
<%- include("../partials/menuHeader.ejs")  %> 
    <div class="contRegisTitu">
        <h3>Bienvenido!</h3>
        <div>
            <img src="img/oso.png" alt="oso">
        </div>
    </div>
    <!--REGISTRO-->
    <section class="detailregister">
        <div class="contregist">
            <div class="contRE">
                <form class="registerForm" action="/register" method="POST" id="registerform">
                    <input type="text" placeholder="Nombre" name="first_name" id="first_name" value="<%= locals.oldData? locals.oldData.first_name:null %>"require/>
                    <div class="div-error" id="errors-first_name">
                        <p>No puede estar vacío/minimo de caracteres 2/ si caracteres especiales</p>
                    </div>
                    <% if (locals.errors && locals.errors.first_name) { %>
                        <p class="errForm"><%= locals.errors.first_name.msg %></p>
                    <% } %>
                    <input type="text" placeholder="Apellido" name="last_name" id="last_name" value="<%= locals.oldData? locals.oldData.last_name:null %>"require/>
                    <div class="div-error" id="errors-last_name">
                        <p>No puede estar vacío/Solo letras</p>
                    </div>
                    <% if (locals.errors && locals.errors.last_name) { %>
                        <p class="errForm"><%= locals.errors.last_name.msg %></p>
                    <% } %>
                    <input type="email" placeholder="Email" name="email" id="email"  value="<%= locals.oldData? locals.oldData.email:null %>"require/>
                    <div class="div-error" id="errors-email">
                        <p>email no valido</p>
                    </div>
                    <% if (locals.errors && locals.errors.email) { %>
                        <p class="errForm"><%= locals.errors.email.msg %></p>
                    <% } %>
                    <input type="password" placeholder="Contraseña" name="pass" id="contrasenia" require/>
                    <div class="div-error" id="errors-pass">
                        <p>caracteres entre 4 y 15, una letra mayúscula</p>
                        <p>una minúscula, un digito, sin espacios en blanco y un caracter especial</p>
                    </div>
                    <% if (locals.errors && locals.errors.pass) { %>
                        <p class="errForm"><%= locals.errors.pass.msg %></p>
                    <% } %>
                    <input type="password" placeholder="Confirmar contraseña" name="pass1" id="contrasenia1"require/>
                    <div class="div-error" id="errors-pass1">
                        <p>Las contraseñas no son iguales</p>
                    </div>
                    <% if (locals.errors && locals.errors.pass) { %>
                        <p class="errForm"><%= locals.errors.pass.msg %></p>
                    <% } %>
                    <select name="rol" id="categoria">
                        <option value="3">comprador</option>
                        <option value="2">mayorista</option>
                    </select>
                    <input type="submit" value="REGISTRARSE" id="button-submit">
                    <p class="registerFormPregunta">¿Ya tenés una cuenta? <a href="/login">Iniciar sesión</a></p>
                </form>
            </div>
            
        </div>
    </section>
    <!--REGISTRO-->
<script type="text/javascript" src="/js/validation/registerValidation.js"></script>
<%- include("../partials/footerBase.ejs")  %> 