<%- include("../../partials/head.ejs",{title:"Modificar producto"}) %>
<%- include("../../partials/menuHeader.ejs") %>
<div class="conGral editProductCont">
        <form action="/products/<%= productoEncontrado.id %>/edit?_method=PUT" class="adminAddProductForm" method="POST" enctype="multipart/form-data">
            <section class="changeProductFile">
                <div class="form-changeProduct">                        
                    <h2>Foto actual del Producto</h2>
                    <img src="/img/products/<%= image.image %>" alt="<%= productoEncontrado.name%>" width="300px" height="300px">
                    <label for="photo">cambiar img del producto</label>
                    <input type="file" name="img" accept=".jpg, .jpeg, .png, .gif" value=""> 
                </div>
            </section>
            <section class="changeProductButtons">
                <div class="form-changeProduct">
                    <label for="nameProduct">Nombre del producto</label>
                    <input type="text" name="name" id="nameProduct" value="<%= productoEncontrado.name %>" required>
                    <div class="div-error errorAddTitle"></div>
                </div>     
                <div class="form-changeProduct">
                    <label for="priceInvProduct">Precio Inidividual</label>
                    <input type="text" name="price_inv" id="priceInvProduct" value="<%= productoEncontrado.price_inv %>" required>
                    <div class="div-error errorAddPriceInv"></div>
                </div>
                <div class="form-changeProduct">
                    <label for="priceWhoProduct">Precio Mayorista</label>
                    <input type="text" name="price_who" id="priceWhoProduct" value="<%= productoEncontrado.price_who %>" required>
                    <div class="div-error errorAddPriceWho"></div>
                </div>

                <div class="form-changeProduct">
                    <label for="sizeProduct">Selecionar tamaño</label>
                    <select name="size" id="sizeProduct">
                        <option value="">Seleccionar un tamaño</option>
                        <% for( let i = 0; i < size.length; i++ ) { %>
                            <% if (size[i].id == productoEncontrado.size_id) { %>
                                <option value="<%= size[i].id %>" selected><%= size[i].size %></option>
                            <% }else{ %>
                                <option value="<%= size[i].id %>"><%= size[i].size %></option>
                            <% } %> 
                        <% } %>
                    </select>
                    <div class="div-error errorAddSize"></div>
                </div>
                <div class="form-changeProduct">
                    <label for="categoryProduct">Seleccionar categoría</label>
                    <select name="category" id="categoryProduct">
                        <option value="">Seleccionar una categoría</option>
                        <% for( let i = 0; i < category.length; i++ ) { %>
                            <% if (category[i].id == productoEncontrado.cat_id) { %>
                                <option value="<%= category[i].id %>" selected><%= category[i].name %></option>
                            <% }else{ %>
                                <option value="<%= category[i].id %>"><%= category[i].name %></option>
                            <% } %> 
                            <% } %>
                    </select>
                    <div class="div-error errorAddCategory"></div>
                </div>
                <div class="form-changeProduct">
                    <label for="discountProduct">Seleccionar descuento</label>
                    <select name="discount" id="discountProduct">
                        <option value="">Seleccionar un descuento</option>
                        <% for( let i = 0; i < discount.length; i++ ) { %>
                            <% if (discount[i].id == productoEncontrado.discount_id) { %>
                                <option value="<%= discount[i].id %>" selected><%= discount[i].discount %>%</option>
                            <% }else{ %>
                                <option value="<%= discount[i].id %>"><%= discount[i].discount %>%</option>
                            <% } %> 
                        <% } %>
                    </select>
                    <div class="div-error errorAddDiscount"></div>
                </div>
                <div class="form-changeProduct">
                    <label for="stockProduct">Stock</label>
                    <input type="text" id="stockProduct" name="stock" placeholder="Stock actual" value="<%= productoEncontrado.stock %>" required>
                    <div class="div-error errorAddStock"></div>
                </div>   
                <div class="form-changeProduct">
                    <label for="stockMinProduct">Stock minimo</label>
                    <input type="text" id="stockMinProduct" name="stock_min" placeholder="Stock minimo" value="<%= productoEncontrado.stock_min %>" required>
                    <div class="div-error errorAddStockMin"></div>
                </div>   
                <div class="form-changeProduct">
                    <label for="stockMaxProduct">Stock maximo</label>
                    <input type="text" id="stockMaxProduct" name="stock_max" placeholder="Stock maximo" value="<%= productoEncontrado.stock_max %>" required>
                    <div class="div-error errorAddStockMax"></div>
                </div> 
                <div class="form-changeProduct">
                    <label for="visibilityProduct">Visibilidad</label>
                    <select name="visibility" id="visibilityProduct">
                        <option value="">Seleccionar visibilidad</option>
                        <% if(productoEncontrado.visibility == 1){ %>
                            <option value="1" selected>Visible</option>
                            <option value="0">No visible</option>
                        <% }else{ %>  
                            <option value="1">Visible</option>
                            <option value="0" selected>No visible</option>
                        <% } %>  
                    </select>
                    <div class="div-error errorAddVisibility"></div>
                </div> 
                <div class="form-changeProduct">
                    <label for="descriptionProduct">Descripción</label>
                    <textarea name="description" id="descriptionProduct" cols="30" rows="10"><%= productoEncontrado.description %></textarea>
                </div>    
                <button type="submit">Guardar cambios</button>
            </section>

        </form>
    </div>
    <script src="/js/validation/productCreate.js"></script>
<%- include("../../partials/footerBase.ejs") %>