<%- include ('../partials/head',{title:"perfil"}) %> 
<%- include("../partials/menuHeader.ejs")  %>
    <section class="seccion-usuario">
        <article class="seccion-usuario_perfil">
            <div class="contenedor-datos-usuario">
                <div class="contenedor-img_usuario">
                    <img src="/img/avatars/<%= userData.avatars.avatar %>" alt="foto perfil">
                </div>
                <div class="mailName">
                    <p class="name"><%= `Hola ${userData.first_name} ${userData.last_name}`  %> </p>
                    <p class="mail"><%= `Email: ${userData.email}` %> </p>
                    <% if(userData.id == user.id){ %> 
                        <div><a href="/perfil/<%= user.id %>/edit">EDITAR PERFIL</a></div>
                    <% }else{} %>  
                </div>
                <div class="estrella">
                    <h3>Valore su conformidad</h3>
                    <div class="start-widget">
                        <input type="radio" name="start" id="start-1">
                        <label for="start-1" class="fas fa-star"></label>
                        <input type="radio" name="start" id="start-2">
                        <label for="start-2" class="fas fa-star"></label>
                        <input type="radio" name="start" id="start-3">
                        <label for="start-3" class="fas fa-star"></label>
                        <input type="radio" name="start" id="start-4">
                        <label for="start-4" class="fas fa-star"></label>
                        <input type="radio" name="start" id="start-5">
                        <label for="start-5" class="fas fa-star"></label>
               
                    </div>
                </div>
            </div>
            
        </article>
        <div class="compras-usuario">
            <h2>Compras</h2>
        </div>
        <article class="seccion-usuario_perfil-compras">
            <div class="compras">
                <div class="img-producto">
                    <img src="/img/icons/img/baby_0_24.jpg" alt="productoX">
                </div>
                <div class="description">
                    <h3>Producto x</h3>
                </div>
            </div>
            <div class="compras">
                <div class="img-producto">
                    <img src="/img/icons/img/edad_2_3.jpg" alt="productoX">
                </div>
                <div class="description">
                    <h3>Producto x</h3>
                </div>
            </div>
            <div class="compras">
                <div class="img-producto">
                    <img src="/img/icons/img/de_4_6.jpg" alt="productox">
                </div>
                <div class="description">
                    <h3>Producto x</h3>
                </div>
            </div>
        </article>
    </section>
<%- include("../partials/footerBase.ejs")  %>